
.footer-panel{
  section{

    &.footer-sign-up{
      background: #086BEF;
      padding: 22px 0;

      h2{
        color: #ffffff;
        font-family: 'montserratregular';
        line-height: 35px;
        @media (max-width: 768px){
          font-size: 20px;
          text-align: center;
        }
      }

      button{
        background: #ffffff;
        color: #000000;
        font-size: 22px;
        line-height: 27px;
        border-radius: 10px;
        padding: 18px 60px;
        box-shadow: none;
        border: 1px solid #707070;
        @media (max-width: 768px){
          padding: 10px 0;
          font-size: 16px;
        }
      }
    }

    &.footer-widget{
      background: #579CF9 url("../images/footer-bg-icon.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      padding: 80px 0;

      @media (max-width: 768px){
        padding: 40px;
      }

      .footer-menu{
        h4{
          font-size: 22px;
          color: #ffffff;
          font-family: 'montserratregular';
          margin-bottom: 22px;
        }
      }
    }

    &.footer-copyright{
      background: #086BEF;
      padding: 28px 0;

      .copyright-menu{
        ul{
          li{
            display: inline-block;
            padding-right: 14px;
            margin-right: 14px;
            border-right: 1px solid #ffffff;

            &:last-child{
              border-right: none;
              margin-right: 0;
              padding-right: 0;
            }
          }

          @media (max-width: 768px){
            text-align: center;
            li{
              padding-right: 5px;
              margin-right: 5px;
              border-right: none;
              a{
                font-size: 14px;
              }
            }
          }
        }
      }


      .footer-social{
        text-align: right;
        ul{
          margin-bottom: 0;
          li{
            border:none;
            display: inline-block;
            padding-right: 14px;
            margin-right: 14px;

            a{
              font-size: 28px;
            }
            &:last-child{
              margin-right: 0;
              padding-right: 0;
            }

            @media (max-width: 768px){
                padding-right: 0;
                margin-right: 5px;
            }
          }

          @media (max-width: 768px){
           text-align: center;
          }
        }
        @media (max-width: 768px){
          text-align: center;
        }
      }

    }

    ul{
      list-style: none;
      padding: 0;
      li{
        display: block;
        a{
          color: #ffffff;
          line-height: 24px;
        }
      }
    }

    p{
      color: #ffffff;
      margin-bottom: 5px;


      &.copyright-text{
        @media (max-width: 768px){
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }


  }
}