
//************Style Hero Section*********//
.hero-section{
  background: url("../images/hero-background.png") no-repeat;
  background-size: cover;
  background-position: top left;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .main-title{
    font-size: 40px;
    line-height: 62px;
    font-weight: bold;
    margin-bottom: 35px;

  }

  .container-fluid{
    height: 100%;
    position: relative;
    padding-top: 8%;

    .hero-content{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 724px;
      margin-left: 10%;

      .hero-content-inner{
        z-index: 1;
      }

      p{
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 35px;
      }

      .hero-content-button{
        padding: 0;
        li{
          display: inline-block;
          padding: 15px 0;
          position: relative;
          a{
            font-size: 27px;
            font-family: 'GalanoGrotesqueAltBold';
            padding: 0 50px;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            display: inline-table;
            z-index: 99;

            &:hover{
              text-decoration: none;
            }
          }

          &:first-child{
            margin-right: 37px;
          }

          &.button{
            margin-bottom: 10px;

            &:hover{
              background: #9EA9E5;
            }
          }
        }
      }

      @media (max-width: 1650px) {

        max-width: 40%;

        .main-title{
          margin-bottom: 10px;
          line-height: 40px;
          font-size: 30px;
        }

        p{
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 20px;
        }

        .hero-content-button{
          li{
            margin-bottom: 5px;
            margin-right: 5px;
            a{
              font-size: 16px;
              padding: 0 20px;
            }
          }
        }
      }
      @media (max-width: 1080px) {

        max-width: 100%;
        justify-content: flex-end;
        padding-bottom: 40px;
        margin-left: 0;

        .main-title{
          margin-bottom: 10px;
          line-height: 30px;
          font-size: 26px;

        }

        p{
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 20px;
        }

        .hero-content-button{
          margin-bottom: 0;
          li{
            margin-bottom: 5px !important;
            margin-right: 5px;

            a{
              font-size: 14px;
              padding: 0 20px;
            }
          }
        }
        .hero-content-inner{
          background:#ffffffa3;
          padding: 10px;
        }
      }
      @media (max-width: 576px) {

        padding-bottom: 0px;

        .hero-content-button{
          li{
            padding: 5px 0;
            margin: 0;
            margin-right: 0 !important;
            width: 48%;
            a{
              font-size: 14px;
              padding: 0 10px;
              line-height: 37px;
              display: block;
              text-align: center;
            }
          }
        }
      }

    }

    .animated-hero-icon{
      position: absolute;
      top: 0;

    }

    .hero-icon-light{
      width: 130px;
      top: -200px;
      right: 45%;
      img{
        @extend .transition;
      }

      @media (max-width: 1650px) {
        width: 100px;
      }
      &:hover{
        img{
          -webkit-transform: rotate(14deg); /* Safari */
          transform: rotate(14deg);
        }
      }

      @media (max-width: 900px) {
        width:60px;
        //top: -255px;
        right: 60%;
      }

    }
    .hero-icon-desk{
      max-width: 768px;
      top: auto;
      bottom: 9%;
      right: 50px;
      width: 40%;

      @media (max-width: 1650px) {
        width: 35%;

      }

      @media (max-width: 900px) {
        width: 80%;

      }

      @media (max-width: 768px) {
        width: 100%;
        bottom: 33%;
      }

    }
    .hero-icon-mobile{
      max-width: 332px;
      width: 18%;
      top: auto;
      right: 7%;
      bottom: 12%;

      img{
        @extend .transition;
      }

      &:hover{
        img{
          transform: translate(0, -40px);

        }
      }

      @media (max-width: 1650px) {
        width: 15%;

      }

      @media (max-width: 900px) {
        width: 30%;
        right: 20%;
      }

      @media (max-width: 768px) {
        width: 40%;
        bottom: 31%;
      }

    }
    .hero-icon-light-2{
      width: 190px;
      top: -300px;
      right: 20%;
      img{
        @extend .transition;
      }
      &:hover{
        img{
          transform: translate(0, -40px);

        }
      }
      @media (max-width: 1650px) {
        width: 150px;
      }
      @media (max-width: 900px) {
        width:130px;
        //top: -355px;
      }
      @media (max-width: 768px) {
        width: 65px;
      }
    }


    .hero-icon-flower{
      max-width: 236px;
      top: auto;
      bottom: -3%;
      right: 18%;
      width: 20%;
      @media (max-width: 900px) {
        display: none;
      }
    }

    .hero-icon-price{
      right: 1%;
      top: 24%;
      @media (max-width: 1650px) {
        width: 6%;
      }
      @media (max-width: 900px) {
        display: none;
      }
    }

    .hero-icon-price-2{
      bottom: -30px;
      right: 36%;
      top: auto;
      @media (max-width: 1650px) {
        width: 6%;
      }
      @media (max-width: 900px) {
        display: none;
      }
    }

  }
}
