
$blue-color: #579CF9;
$white-color: #ffffff;

body{

  font-family: 'montserratregular';
  font-size: 15px;
  line-height: 19px;
  color: #666666;

  img{
    max-width: 100%;
  }


  .remove{
    opacity: 0;
  }

  .active{
    opacity: 1;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'GalanoGrotesqueAltBold';
    color: $blue-color;
  }

  .content-center{
    display: flex;
    //align-items: center;
    flex-direction: column;
    align-self: center;
  }

  .button{
    background: $blue-color;
    color: $white-color;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    a{
      display: inline-table;
      font-family: 'GalanoGrotesqueAltBold';
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }

  .transition{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .full-height{
    width: 100%;
    height: 100vh;
  }

  .title-black{
    color: #000000;
    font-size: 45px;
    line-height: 70px;
  }

  .container-fluid{
    padding: 0 50px;

    @include media-breakpoint-down(lg) {
      padding: 0 20px;
    }
  }


}