

//************Style Packeges Section*********//

.packages-panel{
  padding: 100px 0;
  overflow: hidden;

  .packages-panel-bg{
    background: url("../images/package-bg.svg") no-repeat center center;
    background-position: 49% 77%;
  }
  .package-box{
    padding: 175px 0;

    .package-box-background{
      width: 409px;
      height: 409px;
      background: #005EA8;
      border-radius: 100%;
      position: absolute;
      &.left-img{
        top: -24%;
        left: -19%;
        img{
          margin-top: -60px;
          margin-left: -30px;
        }

        @media (max-width: 1200px){
          top: -22%;
          left: -5%;
          img{
            margin-top: -44px;
          }
        }
      }

      &.bottom-left-img{
        bottom: -53%;
        left: -38%;
        background: #11BCFF;
        img{
          margin-top: 26%;
          @media (max-width: 768px){
            margin-top: 50%;
          }
        }
        @media (max-width: 1200px){
          bottom: -37%;
          left: -24%;
        }


      }


      &.bottom-right-img{
        bottom: -53%;
        left: 0;
        background: #E8E8E8;
        img{
          margin-top: 26%;
          @media (max-width: 768px){
            margin-top: 50%;
          }
        }
        @media (max-width: 1200px){
          bottom: -37%;
        }

      }

      &.top-right-img{
        right: -48%;
        top: -18%;
        background: #FFD909;
        img{
          margin-top: -19%;
        }
        @media (max-width: 1200px){
          right: -23%;
          top: -22%;
          img{
            margin-top: -13%;
            margin-right: 20%;
          }
        }

      }

      @media (max-width: 1200px) {
        width: 250px;
        height: 250px;
        text-align: center;
        img{
          max-width: 50%;
        }
      }
    }

    .package-boxs{
      max-width: 348px;
      margin: 0 auto;
      position: relative;
      height: 100%;
    }

    .package-box-inner{
      position: relative;
      max-width: 348px;
      background: $white-color;
      padding: 24px 28px;
      box-shadow: 0px 0 4px #0000003d;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      z-index: 10;
      @media (max-width: 1200px){
        margin: 0 10px;
      }

      .package-content{
        z-index: 10;
        h3{
          font-size: 35px;
          line-height: 43px;
          margin-bottom: 30px;

          @media (max-width: 1200px){
            font-size: 25px;
            line-height: 25px;
            margin-bottom: 20px;
          }
        }

        ul{
          list-style: none;
          padding-left: 0;
          margin-bottom: 27px;

          li{
            font-size: 20px;
            color: #666666;
            margin-bottom: 14px;
            line-height: 24px;

            @media (max-width: 1200px){
              font-size: 16px;
              color: #666666;
              margin-bottom: 5px;
              line-height: 18px;
            }
          }
        }
      }

      .pricing-box{
        p{
          margin: 0;
          font-size: 20px;
        }
        h4{
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 23px;
        }

        .button{
          font-size: 25px;
          height: 50px;
          a{
            line-height: 25px;
          }
        }

        @media (max-width: 1200px){
         p{
           font-size: 16px;
         }

          h4{
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 23px;
          }

          .button{
            font-size: 20px;
          }
        }
      }
    }

    @media (max-width: 768px){
      padding: 75px 0;
    }
  }
}


//************Style Features Section*********//
.features-panel{
  padding: 100px 0;
  background: url("../images/feature-bg-bottom.svg") no-repeat;
  background-position: 15% bottom;

  @media (max-width: 1200px){
    .panel-title{
      .title-black{
        padding-bottom: 0;
      }
      h3{
        margin-bottom: 50px;
        text-align: center;
      }
    }

  }

  .features-post-box{
    padding: 100px 0;

    .left-bg{
      padding: 104px 0;
      background: url("../images/features-bg-left.svg") no-repeat right center;
      position: relative;
      min-height: 655px;
      .left-bg-img{
        max-width: 650px;
        max-height: 650px;
        width: 100%;
        height: 100%;
        background: #005EA8;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media (max-width: 1200px){
          top: -100px;
        }

        @media (max-width: 768px){
          max-width: 300px;
          max-height: 300px;
        }
        img{
          margin-top: -16%;
          margin-left: -7%;
        }

        &.bg-light-blue{
          background-color: #11BCFF;
          background-image: url("../images/Group-7.png");
          background-repeat: no-repeat;
          background-position: 85% 10%;
        }

        &.yellow{
          background-color: #FFD909;
          background-image: url("../images/Group-6.png");
          background-repeat: no-repeat;
          background-position: 20% 10%;
        }

        &.gray{
          background-color: #E8E8E8;
          background-image: url("../images/Group-8.png");
          background-repeat: no-repeat;
          background-position: 85% 10%;
        }

        &.orange{
          background-color: #FF9100;
          background-image: url("../images/Group-9.png");
          background-repeat: no-repeat;
          background-position: 20% 80%;

          img{

            @media (max-width: 768px){
              margin-top: 10% !important;
            }
          }
        }

        &.bottom-img{
          img{
            margin-top: 28%;
            margin-left: 0;

            @media (max-width: 1200px){
              margin-top: -23%;
            }
          }
        }
      }

    }

    .features-content-box{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px){
        padding: 0;
      }
      .features-box-inner{
        background: #ffffff;
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px;
        width: 100%;
        @media (max-width: 768px){
          padding: 20px;
        }

        h2{
          font-size: 36px;
          margin-bottom: 23px;
          line-height: 40px;

          @media (max-width: 768px){
            font-size: 30px;
            margin-bottom: 15px;
            line-height: 33px;
          }
        }

        p{
          font-size: 20px;
          line-height: 30px;
          @media (max-width: 768px){
            font-size: 18px;
            line-height: 22px;
          }
        }

      }
    }

    &:nth-child(odd){
      .left-bg{
        background-position: left center;

        .left-bg-img{
          left: auto;
          right: 0;
        }
      }
    }
  }

}
